@media (max-width: 600px) {
  body {
    width: 22.50rem;
    height: 45.625rem;
  }

  #container {
    width: 20.6875rem;
    height: 32.25rem;
  }

  .calculation-screen {
    width: 15.625rem;
  }

  .keyboard {
    width: 18.625rem;
    height: 18.875rem;
  }

  button {
    width: 57px;
    height: 57px;
  }

  #top img {
    width: 57px;
    height: 57px;
  }
}